
:root {
    --yale-blue: #00356b;
    --yale-blue-hover: #002855;
  }

.search-box {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

.button-layout {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-button {
    padding: 12px 24px;
    background-color: var(--yale-blue);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease;
    box-shadow: 0 4px 8px rgba(0, 53, 107, 0.2);
  }
  