 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Friends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">

    
</head>
<body>
    <div class="banner">
        <a href = "{{url_for('homepage')}}" class="nav-link">My Saved Rooms</a>
        <a href = "{{url_for('friends')}}" class="nav-link">Add Friends</a>
        <a href = "{{url_for('search')}}" class="nav-link">Search Rooms</a>
        <a href = "{{url_for('review')}}" class="nav-link">Reviews</a>
        <form action="/" method="get">
            <button type="submit" class="logout">Log Out</button>
        </form>

    </div>
    <h1>
        {% if error %}
            {{ error }}
        {% endif %}
    </h1>
    <h1>Add Friends</h1>
    
    <h2>Insert the Net ID of a Friend.</h2>
    <form action="{{ url_for('friends') }}" method="POST">
        <input type="text" name="friend_id" placeholder="Net ID">
        <button type="submit">Add Friend</button>
    </form>
    <div>
        <h2>Friends List</h2>
        <ul>
            {% for friend in friends %}
                <li><a href="{{ url_for('friend', friend_id=friend.friend_id)}}">{{ friend.friend_id }}</a></li>
            {% endfor %}
        </ul>
    </div>

    
</body>
</html>
