<!DOCTYPE html>
<html lang="en">
<head>
    <title>RoomTable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

     <div class="banner">
        <a href = "{{url_for('homepage')}}" class="nav-link">My Saved Rooms</a>
        <a class="nav-link">Deadlines</a>
        <a href = "{{url_for('search')}}" class="nav-link">Search Rooms</a>
        <a class="nav-link">Reviews</a>
        <form action="/logout" method="post">
            <button type="submit" class="logout">Log Out</button>
        </form>

     </div>

     <div>Your Saved Rooms:</div>

    
 

</body>
</html>
