<!DOCTYPE html>
<html lang="en">
<head>
    <title>RoomTable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="banner">
        <a href = "{{url_for('homepage')}}" class="nav-link">My Saved Rooms</a>
        <a href = "{{url_for('friends')}}" class="nav-link">Add Friends</a>
        <a href = "{{url_for('search')}}" class="nav-link">Search Rooms</a>
        <a href = "{{url_for('review')}}" class="nav-link">Reviews</a>
        <form action="{{url_for('logout')}}" method="get">
            <button type="submit" class="logout">Log Out</button>
        </form>

    </div>

     {% if friend_id %}
     <div>Saved Rooms for {{ friend_id }}</div>
     {% else %}
     <div> Your Saved Rooms: </div>
    {% endif %}
        <div class="room-table">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Residential College</th>
                    <th>Entryway</th>
                    <th>Capacity</th>
                    <th>Number of Singles</th>
                    <th>Number of Doubles</th>
                    <th>Class Year</th>
                    <th>Rank</th>
                    {% if not friend_id %}
                        <th>Remove</th>
                    {% endif %}
                </tr>
                {% for suite in suites %}
                    <tr>
                        <td>
                            <a href="{{ url_for('summary', suite_id=suite.id) }}">
                                {{ suite.name }}
                            </a>
                        </td>
                        <td>{{ suite.resco.name }}</td>
                        <td>{{ suite.entryway }}</td>
                        <td>{{ suite.capacity }}</td>
                        <td>{{ suite.singles }}</td>
                        <td>{{ suite.doubles }}</td>
                        <td>{{ suite.year }}</td>
                        <td>{{ ranks[suite.id] }}</td>
                        <td>
                            {% if not friend_id %}
                                <form action="{{ url_for('like_room', suite_id=suite.id) }}" method="post">
                                    <button type="submit">Remove</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

</body>
</html>
