<!DOCTYPE html>
 <html>
   <head>
      <title>RoomTable</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='carousel.css') }}">
      </head>
   <body>
      <div class = "blue-box">
         <div class = "banner"> <img src = "{{url_for('static', filename='logo.png')}}", width="125px" height="125px"> </div>
         
      </div>


      <div class = "carousel-container">
         <button class = "carousel-btn left-btn">&#10094</button>
         <div class = "carousel-images">
            <img src = "{{url_for('static', filename='pierson.jpg')}}">
            <img src = "{{url_for('static', filename='franklin.jpg')}}">
            <img src = "{{url_for('static', filename='morse.jpg')}}">
            <img src = "{{url_for('static', filename='trumbull.jpg')}}">
            <img src = "{{url_for('static', filename='td.jpg')}}">
            <img src = "{{url_for('static', filename='hopper.jpg')}}">



         </div>
         <button class = "carousel-btn right-btn">&#10095</button>

      </div>
      <p>Streamline the housing process with RoomTable. Save your favorite rooms, view friends' rooms, and view floor plans.</p>
      <p>To search for a room, please login.</p>
      <form action="/login" method="get">
         <button type="submit">Login with Yale CAS</button>
      </form>

      <script src="{{ url_for('static', filename='carousel.js') }}"></script>

   </body>
 </html>
