.carousel-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;

}

.carousel-images{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100vw;
    height: auto;
    flex-shrink: 0;
}

