<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
        <title>Suite Summary</title>
    </head>
    <body>
        <h1>Suite Summary</h1>

        {% for suite in suites %}
            <h2>Name</h2>
            <p>{{ suite.name }}</p>

            <h2>Residential College</h2>
            <p>{{ suite.resco.name }}</p>

            <h2>Entryway</h2>
            <p>{{ suite.entryway }}</p>

            <h2>Capacity</h2>
            <p>{{ suite.capacity }}</p>

            <h2>Number of Singles</h2>
            <p>{{ suite.singles }}</p>

            <h2>Number of Doubles</h2>
            <p>{{ suite.doubles }}</p>

            <h2>Class Year</h2>
            <p>{{ suite.year }}</p>
        {% endfor %}

        <h1>Reviews</h1>
        {% if reviews %}
            {% for review in reviews %}
                <h2>Overall Rating</h2>
                <p>{{ review.overall_rating }}</p>

                <h2>Accessibility Rating</h2>
                <p>{{ review.accessibility_rating }}</p>

                <h2>Space Rating</h2>
                <p>{{ review.space_rating }}</p>

                <h2>Text</h2>
                {% if review.review_text %}
                    <p>{{ review.review_text }}</p>
                {% else %}
                    <p>N/A</p>
                {%endif%}
            {% endfor %}
        {% else %}
            <p>No reviews.</p>
        {% endif %}

        <form action="{{ url_for('review_suite', suite_id=suite_id) }}" method="POST">
            <!-- 
                <label for="suite">Suite:</label>
                <select name="suite" required>
                    <option value="1">Suite 1</option>
                    <option value="2">Suite 2</option>
                </select><br> -->
            
                <label>Accessibility:</label>
                <div class="rating">
                    <label>
                        <input type="radio" name="accessibility" value="1" />
                        <span class="fa fa-star icon"></span>
                    </label>
                    <label>
                        <input type="radio" name="accessibility" value="2" />
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                    </label>
                    <label>
                        <input type="radio" name="accessibility" value="3" />
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                    </label>
                    <label>
                        <input type="radio" name="accessibility" value="4" />
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                    </label>
                    <label>
                        <input type="radio" name="accessibility" value="5" />
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                    </label>
                </div>
            
                <label>Space:</label>
                <div class="rating">
                    <label>
                        <input type="radio" name="space" value="1" />
                        <span class="fa fa-star icon"></span>
                    </label>
                    <label>
                        <input type="radio" name="space" value="2" />
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                    </label>
                    <label>
                        <input type="radio" name="space" value="3" />
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                    </label>
                    <label>
                        <input type="radio" name="space" value="4" />
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                    </label>
                    <label>
                        <input type="radio" name="space" value="5" />
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                    </label>
                </div>
            
                <label>Overall Rating:</label>
                <div class="rating">
                    <label>
                        <input type="radio" name="rating" value="1" />
                        <span class="fa fa-star icon"></span>
                    </label>
                    <label>
                        <input type="radio" name="rating" value="2" />
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                    </label>
                    <label>
                        <input type="radio" name="rating" value="3" />
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                    </label>
                    <label>
                        <input type="radio" name="rating" value="4" />
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                    </label>
                    <label>
                        <input type="radio" name="rating" value="5" />
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                        <span class="fa fa-star icon"></span>
                    </label>
                </div>
            
                <label for="review">Review:</label>
                <textarea name="review"></textarea><br>
            
                <input type="submit" value="Submit Review">
            </form>

        <a href="{{ url_for('search') }}" class = "nav-button">Back to Search</a>
        <form action="{{ url_for('summary', suite_id=suite_id) }}" method="POST">
            <button type="submit">Save Room</button>
        </form>
    </body>
</html>